.multi-step-form-page{
    margin: 10px 30px;
    box-shadow: 0 0 35px -2px #48497926;
    padding-bottom: 20px;
}
.multi-step-form-header{
    height: 50px;
    margin-bottom: 20px;
    background-color: #45B5C6;
}
.multi-step-form-page-title{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.multi-step-form-page-title h5{
    color: white;
}
.multi-step-form{
    padding: 50px;
    width: 400px;
    border: 1px solid #80808046;
    box-shadow: 0 0 35px -2px #48497926;
    cursor: pointer;
}
.multi-step-form-body{
    padding: 20px;
}
.form-page-left{
    width: 20%;
    margin: auto;
}
.form-page-right{
    width: 90%;
    margin-left: 5%;
    min-height: 400px;
}