.property-collections-page{
    margin: 10px 30px;
    box-shadow: 0 0 35px -2px #48497926;
    padding-bottom: 20px;
}
.property-collections-title{
    padding: 20px;
    color: #17E0E0;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.property-collections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}